<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/header.html"></div>
    <body>
        <div class="container">
            <div th:replace="fragments/navigation.html"></div>
            <h1>Create a new tag</h1>
            <form th:action="@{/tags/new}" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <input type="text" id="name" name="name" th:placeholder="${tag.name} ?: 'Enter a name for the tag'" class="form-control" required />
                </div>
                <button type="submit" class="btn btn-primary">Create tag</button>
            </form>
            <div th:replace="fragments/footer.html"></div>
        </div>
    </body>
</html>