<html xmlns:th="http://www.thymeleaf.org">

<nav class="container-fluid">
    <ul class="nav nav-pills">
        <li th:if="${currentUser}" class="navbar-brand"><span th:text="'Welcome, ' + ${currentUser.username}"></span></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/ads}">Ads list</a></li>
        <li th:if="${currentUser} AND ${isAdmin}" class="nav-item"><a class="nav-link" th:href="@{/users}">Users</a></li>
        <li th:if="${currentUser} AND ${isAdmin}" class="nav-item"><a class="nav-link" th:href="@{/categories}">Categories</a></li>
        <li th:if="${currentUser} AND ${isAdmin}" class="nav-item"><a class="nav-link" th:href="@{/tags}">Tags</a></li>
        <li th:if="${currentUser}" class="nav-item"><a class="nav-link" th:href="@{/ads/new}">Create new ad</a></li>
        <li th:if="${currentUser}" class="nav-item"><a class="nav-link" th:href="@{/logout}">Logout</a></li>
        <li th:unless="${currentUser}" class="nav-item"><a class="nav-link" th:href="@{/login}">Login</a></li>
        <li th:unless="${currentUser}" class="nav-item"><a class="nav-link" th:href="@{/signup}">Register</a></li>
    </ul>
</nav>
