<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header.html"></div>
    <body>
        <div class="container mt-sm-3">
            <div th:replace="fragments/navigation.html"></div>
            <h1>Index of Users</h1>
            <div>
                <p>
                    Here admins can visualize all users of the application and delete them.
                </p>
            </div>
            <table class="table table-hover">
                <thead class="table-light">
                    <tr>
                        <th>id</th>
                        <th>Username</th>
                        <th>E-mail</th>
                        <th>Phone number</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.phoneNumber}"></td>
                        <td><a th:text="'Edit user'" th:href="@{/users/{id}(id=${user.id})}" /></td>
                        <td>
                            <form th:if="${user.id} != ${currentUser.id}" action="#" th:action="@{/users/{id}(id=${user.id})}" th:method="delete">
                                <button type="submit" class="btn btn-link" th:text="'Delete user'"></button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div th:replace="fragments/footer.html"></div>
        </div>
    </body>
</html>