<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/header.html"></div>
    <body>
        <div class="container mt-sm-3">
            <div th:replace="fragments/navigation.html"></div>
            <h1>Login</h1>
            <form th:action="@{/login}" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label">Username:</label>
                    <input type="username" id="username" name="username" placeholder="Enter your username" class="form-control" required />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password" class="form-control" required />
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
            <div th:replace="fragments/footer.html"></div>
        </div>
    </body>
</html>