<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/header.html"></div>
    <body>
        <div class="container mt-sm-3">
            <div th:replace="fragments/navigation.html"></div>
            <h1>Register</h1>
            <form class="form-horizontal" role="form" method="POST" th:action="@{/signup}" th:object="${user}">
                <div class="mb-3">
                    <label class="form-label">Username:</label>
                    <input type="text" th:field="*{username}" placeholder="Enter a username" class="form-control" id="username" name="username" required/>
                </div>
                <div class="mb-3">
                    <label class="form-label">Email:</label>
                    <input type="email" th:field="*{email}" placeholder="Enter an email" class="form-control" id="email" name="email" required />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" th:field="*{password}" placeholder="Enter a password with minimum 5 characters" class="form-control"
                           id="password" name="password" required pattern=".{5,}" title="5 characters minimum" />
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
            <div th:replace="fragments/footer.html"></div>
        </div>
    </body>
</html>